/* style.css */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.calculator {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.history-display {
  background-color: #054A29;
  color: #a5a5a5;
  font-size: 0.8em;
  padding: 5px 20px 0 20px;
  text-align: right;
  min-height: 1.2em;
  box-sizing: border-box;
}

.display {
  background-color: #054A29;
  color: white;
  font-size: 2.5em;
  padding: 10px 20px 20px 20px;
  text-align: right;
  box-sizing: border-box;
  overflow-x: auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  padding: 20px;
  border: 1px solid #eee;
  background-color: #f7f7f7;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  transition: background-color 0.1s;
}

button:active {
  filter: brightness(0.85);
}

/* 특수 버튼 스타일 */
.operator {
  background-color: #137547;
  color: white;
}

.clear,
.operator[data-op="neg"],
.operator[data-op="percent"] {
  background-color: #5BBA6F;
  color: black;
}

.equals {
  background-color: #137547;
  color: white;
  grid-column: span 1;
  /* 명시적 설정 */
}

.zero {
  grid-column: span 2;
  /* 0 버튼을 두 칸 차지하게 함 */
}